* {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    background-image: url(https://picsum.photos/2180/1280);
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;
}

.main-content {
    padding: 1em;
    min-width: 100%;
}

h1 {
    margin: 0;
    font-size: 6em;
}

p {
    margin: .5em;
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    position: relative;
    width: 17em;
    height: 14em;
    padding: 1em;

    text-align: center;
    line-height: 0.5;
}

.main-task>input,
.search-box>input {
    border: 0;
    background-color: unset;
    border-bottom: solid rgba(0, 0, 0, 0.425) 2px;
}

input::placeholder {
    color: black;
}

.search-box>button {
    background-color: transparent;
    border: unset;
    box-shadow: 1px 1px 5px;
    outline: none;
    cursor: pointer;
}

.search-box>button:hover {
    background-color: rgb(213, 235, 255);
    color: black;
    opacity: 0.5;
    transition: 0.3s;
}

.location {
    font-size: 2em;
}

.weather>img {
    width: 50%;
}

.temperature {
    font-size: 1.5em;
}

.temperature>span {
    position: absolute;
    font-size: .5em;
}

.time {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    margin: 1em auto;
    min-height: 10em;
    max-width: 30em;
}

.hour, .date{
    margin: 0;
    font-size: 3em;
}

.main-task {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    margin: 1em auto;
    max-width: 50em;
    padding: .5em;
}

#task {
    width: 30em;
    font-size: 1.3em;
}

#done {
    transform: scale(3);
}

.zen-quote {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.1);
        border-radius: 1em;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.18);

        max-width: max-content;
        margin: auto;
}
